name: Release please

on:
  push:
    branches: [main]

jobs:
  release-please:
    # The secret HCLOUD_BOT_TOKEN is only available on the main repo, not in forks.
    if: github.repository == 'hetznercloud/molecule-hetznercloud'

    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        with:
          token: ${{ secrets.HCLOUD_BOT_TOKEN }}
          release-type: python
          package-name: molecule-hetznercloud
